@keyframes insert {
  from {
    opacity: 0;
    transform: translateY(3em);
    margin-top: -3em;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    margin-top: 0;
  }
}

@keyframes delete {
  from {
    opacity: 1;
    transform: translateY(0);
    margin-top: 0;
  }
  to {
    opacity: 0;
    transform: translateY(-3em);
    margin-top: -3em;
  }
}